

# Default XDG folders
Desktop/
Documents/
Downloads/
Pictures/
Public/
Templates/
Videos/
Music/

# My stuff
workspace/
cocos2d-x/
rdev/
intel/
paks/
IdeaProjects/
.ssh/
.jrnl_config
nfo/journal.txt

# Vim temporals/generated
.vim/bundle
.vim/view
.vim/session
.viminfo

# Zsh temporals/generated
.zsh_history
.zsh-update

# Awesome temporals/generated
.config/awesome/archmenu.lua
.config/awesome/awesompd/

# Mpd
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpd/database
.config/mpd/playlists/

# Temporary dirs
.thumbnails/
.log/
.cache/
.ccache/

# Temporary files
.bash_history
.octave_hist
.lesshst
.ICEauthority
.Xauthority
.esd_auth
.xsel.log
.sdcv_history
.zcompdump
.gksu.lock
.recently-used
.python_history
.cgdb/readline_history.txt
.w3m/history
.config/ranger/__pycache__/
.config/ranger/history
.awesome-client_history

# Major soft
.purple/
.mozilla/
.Mathematica/
.PyCharm30/
.aMule/
.android/
.eclipse/
.mypaint/
.pentadactyl/
.ncmpcpp/error.log
.pki/
.ipython/
.gimp-2.8/
.thunderbird/
.texlive/
.codeblocks/
.mono/


# Minor soft
.irssi/config
.htcfg2
.jackdrc
.racket/racket-prefs.rktd
.p7zip
.view3dscene.conf
.designer
.wxMaxima
.zynaddsubfxXML.cfg

.xournal/
.unite/
.ssr/
.tgdb/
.stardict/
.qmc2/
.kde4/
.vifm/
.FBReader/
.cmus/
.ghc/
.gnupg/
.fonts/
.xdg_menu_cache/
.gnome/
.dbus/
.gstreamer-0.10/
.IdeaIC13/
.fltk/
.goldendict/
.sane/
.w3m/
.fceux/
.fakenes/
.golly/
.subversion/

# Dot config dirs
.config/chromium/
.config/nautilus/
.config/dconf/
.config/libreoffice/
.config/qBittorrent/
.config/.mono/
.config/DjVuLibre/
.config/VirtualBox/
.config/enchant/
.config/gtk-2.0/
.config/chmsee/
.config/blender/
.config/ImageMagick/
.config/Scan Tailor/
.config/nautilus-actions/
.config/pulse/
.config/copyq/
.config/linuxsampler.org/
.config/jack/
.config/dmenu-extended/
.config/dwb/
.config/openmw/
.config/tox/
.config/fontforge/

# Dot config files
.config/htop/htoprc
.config/nautilus-compare.conf
.config/KeePass/KeePass.config.xml
.config/rncbc.org/QjackCtl.conf
.config/mc/ini
.config/parcellite/parcelliterc
.config/QtProject.conf
.config/Trolltech.conf
.config/llpp.conf
.config/ranger/history
.config/user-dirs.dirs
.config/user-dirs.locale
.config/equalx/settings.conf
.config/pavucontrol.ini
.config/kactivitymanagerdrc
.config/TopMod.conf

# Temporary hide... TODO: setup
.local/
.vim/spell/
