

# Default XDG
Desktop/
Documents/
Downloads/
Pictures/
Public/
Templates/
Videos/
Music/

# My stuff
VirtualBox VMs/
workspace/
android/
cocos2d-x/
rdev/
intel/
paks/

# Temporals
.thumbnails/
.log/
.cache/
.bash_history
.zsh_history
.octave_hist
.lesshst
.ICEauthority
.Xauthority
.esd_auth
.xsel.log
.viminfo
.zcompdump*
.zsh-update

# Soft
.vim/
.Mathematica/
.PyCharm30/
.aMule/
.android/
.eclipse/
.macromedia/
.mypaint/
.mozilla/
.gimp-2.8/
.java/
.xournal/
.texlive/
.pentadactyl/
.pki/
.racket/
.pdextended
.jackdrc
.xmaximarc
.unite/
.ssr/
.ssh/
.tgdb/
.cgdb/
.xchm
.fceux/
.nestopia/
.stardict/
.mednafen/
.mess/
.qmc2/
.kde4/
.htcfg2
.subversion/
.vifm/
.FBReader/
.cmus/
.cr3/
.ghc/
.gnupg/
.ipython/
.p7zip
.tor-browser-en/
.lastpass/
.wxHexEditor
.fonts/
.xdg_menu_cache/
.xmobarrc
.xmonad/
.ddccontrol/
.python_history
.designer
.ncmpcpp            # MPD client ncurses
.irrsi              # RSS client


# Temporary hide...
.config/
.local/


# By file type
*.pyc
