! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! vim: ft=xdefaults
! ----------------------------------------------------------------------------


! Xterm -----------------------------------------------

xterm*metaSendsEscape:    True
xterm*saveLines:          1024
xterm*background:         black
xterm*foreground:         #DDDDDD
xterm*cursorColor:        green
xterm*cursorBlink:        false
xterm*cursorOnTime:	     550
xterm*cursorOffTime:	     150
xterm*faceName:           PragmataProMono:pixelsize=15
xterm*Geometry:           200x60+100+60
xterm*termName:           xterm-256color
xterm*utf8: true
xterm*locale: true
xterm*utf8Title: true
xterm*renderFont: true
xterm*scaleHeight: 1.0
xterm*preeditType: Root
xterm*xftAntialias: true
xterm*cjkWidth: false

xterm*dynamicColors:      true
xterm*eightBitInput:      true
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            true

xterm*color0:    #000000
xterm*color1:    #CC0000
xterm*color2:    #4E9A06
xterm*color3:    #C4A000
xterm*color4:    #3465A4
xterm*color5:    #75507B
xterm*color6:    #06989A
xterm*color7:    #D3D7CF
xterm*color8:    #555753
xterm*color9:    #EF2929
xterm*color10:   #8AE234
xterm*color11:   #FCE94F
xterm*color12:   #729FCF
xterm*color13:   #AD7FA8
xterm*color14:   #34E2E2
xterm*color15:   #EEEEEC


! Urxvt -----------------------------------------------

URxvt*geometry: 150x50+100+60
URxvt*letterSpace: 0
URxvt*lineSpace: 0

URxvt*font:     xft:PragmataPro:pixelsize=16
URxvt*boldFont: xft:PragmataPro:style=Bold:pixelsize=16
URxvt*italicFont: xft:PragmataPro:style=Italic:pixelsize=16

URxvt*scrollBar:       false
URxvt*internalBorder:  5
URxvt*colorIT:         #87af5f
URxvt*colorBD:         #d7d7d7
URxvt*colorUL:         #87afd7
URxvt*depth:      32
URxvt*background: rgba:0000/0000/0000/cccc
URxvt*foreground: #DDDDDD
URxvt*saveLines:  0

URxvt*color0:    #000000
URxvt*color1:    #CC0000
URxvt*color2:    #4E9A06
URxvt*color3:    #C4A000
URxvt*color4:    #3465A4
URxvt*color5:    #75507B
URxvt*color6:    #06989A
URxvt*color7:    #D3D7CF
URxvt*color8:    #555753
URxvt*color9:    #EF2929
URxvt*color10:   #8AE234
URxvt*color11:   #FCE94F
URxvt*color12:   #729FCF
URxvt*color13:   #AD7FA8
URxvt*color14:   #34E2E2
URxvt*color15:   #EEEEEC

! Disable perl extensions for speed
URxvt*perl-ext:
URxvt*perl-ext-common:

! Disable Ctrl+Shift keycap mode
URxvt*iso14755: false
URxvt*iso14755_52: false

