! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! vim: ft=xdefaults
! ----------------------------------------------------------------------------


! Xterm -----------------------------------------------

xterm*metaSendsEscape: True
xterm*saveLines: 1024
xterm*background: black
xterm*foreground: #DDDDDD
xterm*cursorColor: green
XTerm*cursorBlink: false
xterm*cursorOnTime:	550
xterm*cursorOffTime:	150
xterm*faceName:  Terminus:pixelsize=14
xterm*Geometry: 120x60+100+60

xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            true

xterm*color0:    #000000
xterm*color1:    #CC0000
xterm*color2:    #4E9A06
xterm*color3:    #C4A000
xterm*color4:    #3465A4
xterm*color5:    #75507B
xterm*color6:    #06989A
xterm*color7:    #D3D7CF
xterm*color8:    #555753
xterm*color9:    #EF2929
xterm*color10:   #8AE234
xterm*color11:   #FCE94F
xterm*color12:   #729FCF
xterm*color13:   #AD7FA8
xterm*color14:   #34E2E2
xterm*color15:   #EEEEEC
xterm*termName: xterm-256color


! Urxvt -----------------------------------------------

urxvt*geometry: 150x50+100+60
urxvt*letterSpace: 0
urxvt*lineSpace: 0

urxvt*font:   -*-terminus-medium-r-normal-*-16-*-*-*-*-*-*-r
urxvt*boldFont: -*-terminus-bold-r-normal-*-16-*-*-*-*-*-*-r

urxvt*scrollBar:       false
urxvt*internalBorder:  5
urxvt*colorIT:         #87af5f
urxvt*colorBD:         #d7d7d7
urxvt*colorUL:         #87afd7
urxvt*depth:      32
urxvt*background: rgba:0000/0000/0000/cccc
urxvt*foreground: #DDDDDD
urxvt*saveLines:  0

urxvt*color0:    #000000
urxvt*color1:    #CC0000
urxvt*color2:    #4E9A06
urxvt*color3:    #C4A000
urxvt*color4:    #3465A4
urxvt*color5:    #75507B
urxvt*color6:    #06989A
urxvt*color7:    #D3D7CF
urxvt*color8:    #555753
urxvt*color9:    #EF2929
urxvt*color10:   #8AE234
urxvt*color11:   #FCE94F
urxvt*color12:   #729FCF
urxvt*color13:   #AD7FA8
urxvt*color14:   #34E2E2
urxvt*color15:   #EEEEEC

! Not nedded anymore
! urxvt*perl-ext-common:  default,matcher
! urxvt*urlLauncher:      /usr/bin/firefox
! urxvt*matcher.button:   1

! Disable perl extensions for speed
urxvt.perl-ext:
urxvt.perl-ext-common:

! Disable Ctrl+Shift keycap mode
urxvt*iso14755: false
URxvt.iso14755_52: false

! Xft -----------------------------------------------
!
!Xft.autohint: 0
!Xft.lcdfilter:  lcddefault
!Xft.hintstyle:  hintfull
!Xft.hinting: 1
!Xft.antialias: 1
!Xft.rgba: rgb
!Xft.dpi: 90
